/*  your css code here. If applicable */
#container{
	width:550px;
	height:200px;
	background-color:grey;
	border:5px solid black;
	border-radius:75px;
	display:flex;
	justify-content:space-evenly;
	align-items:center;	
}
#box-1{
	width:100px;
	height:100px;
	background-color:green;
	border-radius:50%;	
}
#second{
	width:100px;
	height:100px;
	background-color:yellow;
	border-radius:50%;
}
#third{
	width:100px;
	height:100px;
	background-color:red;
	border-radius:50%;
}
